<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #7abecc !important;
    }
    </style>
</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="form-gap" style="padding-top: 70px;"></div>
    <div class="d-flex justify-content-cente">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 class="text-center">Password reset sent</h3>
                            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                            <a href="/">← back to login page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>