{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Order ID</th>
                    <th>Note</th>
                    <th>Date Orders</th>
                    <th>Status</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{order}}</td>
                    <td>{{order.note}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                </tr>
                {% endfor%}
                
            </table>
        </div>
    </div>
</div>
<!-- <script type="text/javascript" charset="utf-8">
var phone = '{{request.phone}}';
if (phone === '' || phone === null) {
    alert("Please input your phone number in Settings from the navigation bar!!")
    // window.addEventListener("load", function() { changeBackground('red') });
}
</script>
 -->{% endblock content %}